/* ====== clear default styles & set baseline styles ====== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.6;
  height: 100%;
  /* background: greenyellow; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: #333; */
}

h1,
h2 {
  font-weight: 150;
  margin: 10px 0px;
}

/* ---------- header ----------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--primary-blue);
  color: var(--grey);
}

.header .container {
  display: flex;
  align-items: center;
}

.header .hamburger {
  width: 70px;
  height: 100%;
  text-align: center;
  padding: 0px 17px;
  cursor: pointer;
}

.header .hamburger div {
  width: 35px;
  height: 5px;
  margin: 8px 0;
  background: var(--grey);
  border-radius: 5px;
}

.logo {
  width: 100%;
  text-align: center;
}

/* ---------- navbar ----------*/
.navbar {
  /* border: solid; */
  position: fixed;
  top: 60px;
  overflow: auto;
  width: 20%;
  height: calc(100% - 60px);
  color: var(--grey);
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}

.collapse {
  transform: translateX(calc(-100% + 20px));
}

.navbar .container {
  /* in case screen is taller than all items combined,
   this will color the empty are */
  background: var(--primary-blue);
  padding: 0;
}

.navbar .flex {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

nav {
  margin-top: 10px;
  /* border: solid; */
  width: 100%;
}

.navbar a {
  display: block;
  color: var(--grey);
  /* in case navbar item overflow, 
  some items can only be seen when scroll down, 
  color these items */
  background: var(--primary-blue);
  font-size: 1.5em;
  line-height: 220%;
  padding: 0 40px;
  width: 100%;
  height: 100%;
}

.navbar a:hover {
  background: var(--secondary-blue);
}

.navbar a:active {
  background: var(--grey);
  color: var(--primary-blue);
}
.navbar a:focus {
  background: var(--grey);
  color: var(--primary-blue);
}

/* ---------- main container ----------*/
.main_container {
  /* margin-top: 60px; */
  margin-left: 20%;
  width: 80%;
  /* background: yellow; */
  position: fixed;
  top: 60px;
  height: calc(100% - 60px);
}

/* ---- task area header ---- */
.taskAreaHeader {
  border: solid;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px 0 80px;
  height: 60px;
}

.taskAreaHeader h2 {
  /* border: solid; */
  display: inline;
  margin: 0;
  line-height: 2em;
}

.taskAreaHeader span {
  /* border: solid; */
  align-self: flex-end;
}

/* ---- task area container ---- */
.taskArea {
  border: solid var(--grey);
  height: 650px; /* to limit the height of grid */
  border-radius: 3%;
  padding: 10px 0 0 50px;
}

.taskArea .grid {
  overflow: auto; /* let the grid scroll */
}

/* ---- task items ---- */
.task {
  /* border: solid; */
  padding: 0 10px;
  border-radius: 5%;
  border-bottom: 1px solid #d8dff1;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  vertical-align: baseline;
}

.task:hover {
  background: var(--light);
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: sub;
}

.task span {
  border: solid;
}

.subtasks {
  display: none;
  position: absolute;
  left: 80px;
  font-size: 0.7em;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5%;
}

.task:hover .subtasks {
  display: block;
}

.subtask {
  display: block;
  width: auto;
}
